/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: auto;
  //   width: 60%;
  //   margin-top: 10px;
  //   min-width: 800px;
  width: 600px;
}

.red {
  color: red;
}
.green {
  color: green;
}
.bg-red {
  background: #f9cfd5;
}
.bg-green {
  background: #e4efd9;
  td.mat-cell {
    color: #999;
  }
}

mat-card.mat-card {
  padding: 35px;
}
// .mat-drawer-container {

//     background: #e5e6e8;

// }

.mat-toolbar {
  background: #d9dcde;
  // color:#1181CB;
}

button.mat-stroked-button {
  background: #f5f4f4;
}

.scan-animation {
  animation-name: flash;
  animation-duration: .2s;
}
@keyframes flash {
  0% {
    background-color: initial;
  }
  50% {
    background-color: rgb(228, 228, 222);
  }
  100% {
    background-color: initial;
  }
}
